<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366086933308-l1s88842h1oq4s18aaacgg9qeuhjc15j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366086933308-l1s88842h1oq4s18aaacgg9qeuhjc15j</string>
	<key>API_KEY</key>
	<string>AIzaSyAVZ62e6A3kGaL9GB70CO_IFCmQ73ZfEQU</string>
	<key>GCM_SENDER_ID</key>
	<string>366086933308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoshinobu.BookShelf</string>
	<key>PROJECT_ID</key>
	<string>bookshelf-12f47</string>
	<key>STORAGE_BUCKET</key>
	<string>bookshelf-12f47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366086933308:ios:4d2aa911544b3619486c39</string>
	<key>DATABASE_URL</key>
	<string>https://bookshelf-12f47.firebaseio.com</string>
</dict>
</plist>